<div class="main">
  <div class="container">
    <div style="text-align: center; color:darkturquoise; font-family: sans-serif;">
   <marquee><h1><b>Blogsite Application Welcomes you!!!</b></h1> </marquee> 
    </div>
    <div class="middle text-center">
      <div id="login" class="my-2">
        <div class="header-name">
          <h3 style="
                font-family:  'Open Sans, Arial, sans-serif';
                margin-bottom: 1%;
              ">
            <b>Create Account</b>
          </h3>
        </div>
        <div class="register-form">
        <form class="form-signin" [formGroup]="UserRegister" autocomplete="off" (submit)="onSubmit()">
          <fieldset class="clearfix">
            <div class="row">
              <div class="col-md-10">
                <input style="border-radius: 10px; width: 150%" type="text" class="form-control"
                  formControlName="username" Placeholder="Username" />
                      <div class="validationMsg">
                        <small class="text-danger" *ngIf="UserRegister.get('username')?.touched && UserRegister.get('username')?.errors?.required">
                          Username is mandatory
                        </small>
                        <small class="text-danger" *ngIf="UserRegister.get('username')?.touched && UserRegister.get('username')?.errors?.pattern">
                          Username cannot have special characters or digits
                        </small>
                      </div>
             </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <input style="border-radius: 10px; width: 150%" type="text" class="form-control"
                  formControlName="email" Placeholder="email" />
                <div class="validationMsg">
                  <small class="text-danger" *ngIf="
                        UserRegister.get('email')?.touched &&
                        UserRegister.get('email')?.errors?.required
                      ">
                    emailId is mandatory</small>
                  <small class="text-danger" *ngIf="
                        UserRegister.get('email')?.touched &&
                        UserRegister.get('email')?.errors?.pattern
                      ">Invalid emailId Address</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <input style="border-radius: 10px; width: 150%" type="password" class="form-control"
                  formControlName="password" Placeholder="Password" />
                <div class="validationMsg">
                  <small class="text-danger" *ngIf="
                        UserRegister.get('password')?.touched &&
                        UserRegister.get('password')?.errors?.required
                      ">
                    Password is mandatory</small>
                  <small class="text-danger" *ngIf="
                        UserRegister.get('password')?.touched &&
                        UserRegister.get('password')?.errors?.minlength
                      ">Minimun 6 characters required</small>
                </div>
              </div>
              
            </div>
            <div style="color: red; font-size: 15px; font-weight: bolder; text-align: center">
              {{ message }}
            </div>
            <div class="row">
              <div class="col-md-5">
                <button class="btn btn-md my-2" style="border-radius: 10px;" [disabled]="!UserRegister.valid">
                  Register
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10 my-2" style="padding-left: 10%">
                <p style="color: white;">
                  Existing user ? <a routerLink="/login" class="loginURL" style="font-size: larger;"><b>Login</b></a>
                </p>
              </div>
            </div>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>