<div class="main"style="background-image">

  <div class="container">
    <div *ngIf="message" style="color: red;font-size: medium;margin-left: 35%;">
      {{message}}</div>
    <div class="middle text-center">

      <div id="login">
        <div class="heading-comp">
          <h1 style="
                font-family: 'Open Sans, Arial, sans-serif';
                margin-bottom: 5%; color: white;
              ">
            <b>Sign in</b>
          </h1>
        </div>
        <div class="login-form">
        <form [formGroup]="UserLogin" autocomplete="off" (submit)="OnSubmit()">
          <fieldset class="clearfix">
            <div class="row">
              <div class="col-md-10">
                <input style="border-radius: 10px; width: 120%" type="text" class="form-control"
                  formControlName="username" placeholder="Username" />
                <div class="validationMsg">
                  <small class="text-danger" *ngIf="
                        UserLogin.get('username')?.touched &&
                        UserLogin.get('username')?.errors?.required
                      ">
                    user name is mandatory
                  </small>
                  <small class="text-danger" *ngIf="
                        UserLogin.get('username')?.touched &&
                        UserLogin.get('username')?.errors?.pattern
                      ">Invalid user name</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <input style="border-radius: 10px; width: 120%; margin-top: 5px" type="password" class="form-control"
                  formControlName="password" placeholder="Password" />
                <div class="validationMsg">
                  <small class="text-danger" *ngIf="
                        UserLogin.get('password')?.touched &&
                        UserLogin.get('password')?.errors?.required
                      ">
                    Password is mandatory
                  </small>
                  <small class="text-danger" *ngIf="
                        UserLogin.get('password')?.touched &&
                        UserLogin.get('password')?.errors?.minlength
                      ">Minimun 6 characters required
                  </small>
                </div>
              </div>
            </div>
            <div style="color: red; font-size: 14px; text-align: center">
              {{ invalid }}
            </div>
            <div class="row">
              <div>
                <button class="btn btn-md my-2" style="border-radius: 10px;" [disabled]="!UserLogin.valid">
                 <b> Sign in </b>
                </button>
              </div>
            </div>
            <!-- <div class="row">
              <div style="margin-bottom: 10%">
                <a routerLink="/forgot-password" style="font-size: 15px">Forgot Password?</a>
              </div>
            </div> -->
            <div class="row">
              <div style="margin-bottom: 10%">
                <p style="color: white;">
                  Don`t have account?
                  <a routerLink="/register" style="font-size: 20px;color:white;"><b>Sign up</b></a>
                </p>
              </div>
            </div>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>